.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.App-header h1 {
  margin: 0;
  font-size: 32px;
  font-weight: bold;
}

.cart-icon {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.cart-icon span {
  margin-left: 5px;
  font-size: 16px;
  font-weight: bold;
}

/* Cart styles */
.counerCart {
  color: #f44336;
}

.cart-container {
  position: absolute;
  top: 60px;
  right: 0;
  width: 300px;
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1;
}

.cart-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart-container li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 5px;
}

.cart-container button {
  padding: 5px 10px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cart-container button:hover {
  background-color: #d32f2f;
}

.cart-container p:last-of-type {
  margin-top: 10px;
  font-weight: bold;
}

/* Menu styles */

.menu-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  padding: 20px;
  background-color: #fff;
}

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-item h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

.menu-item img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}
.description {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.menu-item p {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  /* color: rgba(0, 0, 0, 0.649); */
}

/* add to cart button */
.menu-item button {
  padding: 5px 10px;
  background-color: #f25656;
  border: none;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  transition: all 0.3s ease;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.menu-item button:hover {
  background-color: #388e3c;
}
/* here landing page */
.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f9f9f9;
  font-family: "Montserrat", sans-serif;
}

.landing-page-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  border-radius: 50%;
}

.landing-page-image img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.landing-page-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 2rem;
}

.landing-page-text h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.buttonLanding {
  background-color: #f25656;
  color: #fff;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 5px;
}

.landing-page-buttons button:hover {
  background-color: #d62e2e;
}

/* .landingIcon span {
  padding: 0.5rem 5rem;
  font-weight: bold;
}
.landingIcon {
  margin-top: 1rem;
} */
/* phone landing page  */
/* Styles for screens smaller than 768px */
@media only screen and (max-width: 768px) {
  .landing-page {
    flex-direction: column;
    height: auto;
    padding: 2rem;
  }

  .landing-page-image {
    margin-right: 0;
    margin-bottom: 2rem;
    max-width: 100%;
  }

  .landing-page-text {
    margin-left: 0;
    margin-bottom: 2rem;
  }

  .landing-page-text h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .landing-page-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .landing-page-buttons button {
    font-size: 1.2rem;
    padding: 0.8rem 1.5rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
}
